*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-color : #FFFFFF;
  --bg-color-second: #F5F5F5;

  --primary-color: #FF5F2D;
  --second-color: rgba(255, 145, 90, 1);
  --text-color: rgba(255, 255, 255, 1);
  --text-color-subtitle: #504F51;
  --text-color-description: rgba(80, 79, 81, 1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
  overflow: overlay;
}

img {
  max-width: 100%;  
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.container {
  width: 100%;
  max-width: 152.5rem;
  margin: 0 auto;
  padding: 0 3.5rem;
}

/*                  HEADER                 */

header{
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 20%);
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.menu,
.logar,
.open-menu,
.close-menu {
  display: none;
  visibility: hidden;
  opacity: 0;  
}

header .container .menu-maior ul{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

header nav a {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 2rem;
}
nav a:hover{
  color: var(--second-color);
}

nav .login {
  height: 4.4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 6px;
  display: inline-block;
}

button .login {
    height: 3.4rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    display: none;
}

nav .login a {
  color: var(--text-color);
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  align-items: center;
  transition: box-shadow 200ms ease;
}

nav button a:hover {
  color: white;
}

nav ul li button:hover{
  box-shadow: 0 6px 12px 0 rgb(40 43 49 / 8%);  
}

nav .logar a {
  height: 4.4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 6px;
  display: flex;
  max-width: 500px; 
  color: white;
}

nav .logar:hover  {
  box-shadow: 0 6px 12px 0 rgb(40 43 49 / 8%);  
}

header .logo img {
  width: 22rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 2022;
  background-color: white;
  width: 100%;      
}

header .logo img {
  width: 15rem;
  margin-left: 10%;
}

/* MENU EXPANDED */

body.menu-expanded > :not(header) {
  display: none;
}

body.menu-expanded .open-menu {
  visibility: hidden;
  opacity: 0;
  display: none;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
  display: flex;
}

body.menu-expanded .close-menu svg:hover {
  width: 42px;
  height: 42px;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;  
} 

body.menu-expanded .logo,
.close-menu,
.socials {
  position: relative;
  z-index: 100;
}

body.menu-expanded .menu  ul {
padding-top: 13rem;
display: flex;
gap: 30px;
align-items: center;
flex-direction: column;
margin: 0 auto;
}

body.menu-expanded .menu ul li a {
color: var(--text-color-subtitle);

}

body.menu-expanded .menu ul li a:hover {
text-decoration: underline;
}

body.menu-expanded .menu ul li button a {
color: #F5F5F5;
}

body.menu-expanded .menu ul li button a:hover {
text-decoration: none;
}

body.menu-expanded .menu .socials {
display: flex;
flex-direction: row;
}

body.menu-expanded .menu .socials li svg {
width: 50px;
height: 50px;
border: 1px solid #FF5F2D;
border-radius: 10px;
padding: 8px;
}

body.menu-expanded .menu .socials li a svg:hover {
stroke: white;
background-color: #FF5F2D;  
}

body.menu-expanded nav {
position: relative;
}

body.menu-expanded .menu  ul li a {
font-size: 2rem;
}

.open-menu {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu-maior {
  display: none;
}

.menu,
.logar{
  display: none;
  visibility: hidden;
  opacity: 0;
}

/*                  HERO                  */

.hero {
  padding-top: 14rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-second);
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-hero img {
  max-width: 290px;
}

.hero-text h2{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: rgba(255, 145, 90, 1);
  font-weight: 700;
}

.hero-text h2 strong {
  color: var(--primary-color);
  font-weight: 700;
}

.hero-text p{
  text-align: center;
  color: var(--text-color-subtitle);
  font-size: 1.5rem;
  font-weight: 300;
}

.hero-text p span {
  font-weight: 500;
  font-style: bold;
}

/*                  MAIN                  */

main {
  margin-top: 13rem;
}

main .about img {
  max-width: 84px;
  margin-top: 2rem;
  position: absolute;
  margin-top: -87px;
}

.about h1 {
  color: var(--primary-color);
  font-size: 2.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: -38px;
  margin-right: -1px;
  position: absolute;
  right: 0;
}

.about-text {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
}

.about-text p {
  color: var(--text-color);
  margin-top: 15px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem
}


/*                 PLATAFORMA             */
.plataforma {
  height: 25rem;
  margin-top: 5rem;
  background-image: url('../assets/section_plataforma.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

.plataforma h2 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.5rem;
  padding-top: 8rem;
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 320px;
}

/*                SOLUTIONS               */
.description-solutions {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 5rem;
}

.description-solutions img {
max-width: 220px;
max-height: 150px;
}

.text-solutions h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 900;
}

.text-solutions p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-color-description);
}

.cards-solutions {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 4rem;
}

.cards-solutions .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 81px;
  padding: 2rem;
  height: 100px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cards-solutions .card img {
  width: 50px;
  height: 50px;
}

.cards-solutions .card h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  
}
/*                 ESCRITORIOS            */

.escritorios-frame {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  gap: 10px;
  margin-inline: auto;
}

.escritorios-hero {
  padding-top: 3rem;
}

.escritorios-frame h2 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3rem;
  max-width: 200px;
  margin-top: 7rem;
  color: var(--primary-color);
}

.escritorios-frame img {
  max-width: 110px;
}

.escritorios-hero .vectors {
  display: flex;
  flex-direction: column;  
}

.escritorios-hero .vectors img {
  max-width: 400px;
}

.escritorios-hero .vectors img:nth-child(2) {
  max-width: 300px;
  margin-left: 4rem;
}

.png-escritorio {
  max-width: 92%;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.escritorio-equipe {
  margin-top: -329px;
  position: absolute;
}

.escritorios .list ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color-second);
  padding: 2rem;
  margin-top: -20px;
  max-width: 250px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  margin-bottom: 30px;
}

.escritorios .list ul li {
  align-items: center;
  text-align: center;
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  font-size: 2rem;
  color: rgba(80, 79, 81, 1);
  font-weight: 300;
}

/*                 SECTION EXPERIENCIAS                  */
.exp .text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.exp .text h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 5rem; 
  text-align: center;
  color: var(--primary-color);
}

.exp .imagem-exp img {
  margin-top: 3rem;
}

/*                 TEAM                   */

.team {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.team .equipe img {
  margin-top: -51px;
  opacity: 0.9;
  height:300;
  position: absolute;
  right: 0;
  max-width: 300px;
}
.vector-team .content {
  padding-inline: 14px;
}

.vector-team .content img {
  max-width: 70%;
}

/*                 JOBS                   */
.jobs {
  height: 40rem;
  margin-top: 22rem;
  background-image: url('../assets/section_team.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs h2 {
  font-weight: 900;
  font-size: 4rem;
  line-height:5rem;
  text-transform: uppercase;
  color: var(--bg-color);
  text-align: center;
}

.jobs button {
  margin-top: 30px;
}

.jobs button a {
  text-decoration: none;
  border-radius: 15px;
  margin-top: 100px;
  background-color: transparent;
  padding: 15px 26px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 20px;
  transition: easy 0.3seg;
  color: var(--primary-color);
  border-color :var(--primary-color);
  border: 1.5px solid;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.jobs button a:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  border-radius: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: linear-gradient(180deg, #ff5f2d, #ff5f2d);
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

.jobs button a:hover {
  color: #fff;
  border: none;
}

.jobs button a:hover:after {
  width: 110%;
}

/*                 FOOTER                 */

footer {
  height: 89rem;
  background: linear-gradient(180deg, #ff5f2d, #ff5f2d);
  display: flex;
  justify-content: space-between;
}

.container .copy {
  margin: -230px 50px;
  text-align: center;
}

.copy p {
  border-top: 1px solid hsla(0, 0%, 100%, .3);
  margin-top: 90px;
  padding-top: 20px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, .8);
  font-size: 1.2rem;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 5rem;
}

.footer-list {
  margin: 271px -21px;
  display: flex;
  gap: 27px;
  justify-content: center;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 20px;
}

.footer-nav-list h3{
  color: white;
  font: 1.2rem;
  font-weight: 400;
}

.footer-nav-list a {
  color: hsla(0, 0%, 100%, .8);
  font-size: 1.3rem;
  font-weight: 300;
}

.footer-nav-list a:hover {
  color: white;
  text-decoration: underline;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  margin-bottom: 200px;
  margin-top: -250px;
}

.footer-newsletter h3 {
  color: white;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.icon-social {
  width: 50px;
  height: 50px;
  opacity: 0.8;
  border: 0.8px solid white;
  border-radius: 10px;
  padding: 8px;
}

.icon-social:hover {
  width: 50px;
  height: 50px;
  opacity: 1;
  }

.social {
  display: flex;
  gap: 25px;
  margin-left: 25px;
}

/*               RESPONSIVO            */

@media (min-width:420px) {

  .escritorios-frame img {
    max-width: 150px;
  }

  .team .equipe img {
    max-width: 400px;
  }
  
  footer {
    height: 82rem;
  }
}

@media (min-width:550px) {

  .exp .text {
    margin-top: 12rem;
  }

  .team {
    padding-bottom: 10rem;
  }

  .team .equipe img {
    max-width: 500px;
  }  

  footer {
    height: 71rem;
  }
}

@media (min-width:550px) {

  .exp .text {
    margin-top: 12rem;
  }

  .hero-text h2 {
    font-size: 5rem;
  }

  .hero-text p {
    font-size: 2rem;
  }

  .img-hero img {
    max-width: 350px;
  }

  main {
    margin-top: 16rem;
  }

  main .about img {
    max-width: 165px;
    margin-top: -170px;
  }

  .about h1 {
    margin-right: 12px;
    margin-top: -49px;
    font-size: 3.8rem;
  }

  .plataforma h2 {
    font-size: 5rem;
    padding-top: 4rem;
  }

  .description-solutions img {
    max-width: 300px;
    max-height: 210px;
  }

  .text-solutions h1 {
    font-size: 3rem;
  }

  .cards-solutions .card {
    max-width: 163px;
    width: 100%;
  }

  .escritorios-frame {
    gap: 138px;
  }

  .escritorios-frame h2 {
    font-size: 3.5rem;
  }

  .team {
    padding-bottom: 10rem;
  }

  .team .equipe img {
    max-width: 550px;
  }
  
  footer {
    height: 71rem;
  }

  .imagem-exp {
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team .content img {
    max-width: 85%;
  }
  
  .jobs {
    margin-top: 26rem;
  }
}

@media (min-width:710px) {

  .exp .text {
    margin-top: 7rem;
  }

  .hero-text h2 {
    font-size: 5rem;
  }

  .hero-text p {
    font-size: 2rem;
  }

  .img-hero img {
    max-width: 350px;
  }

  main {
    margin-top: 16rem;
  }

  main .about img {
    max-width: 165px;
    margin-top: -170px;
  }

  .about h1 {
    margin-right: 12px;
    margin-top: -49px;
    font-size: 3.8rem;
  }

  .about-text p {
    font-size: 1.5rem;
  }

  .plataforma h2 {
    font-size: 5rem;
    padding-top: 4rem;
  }

  .description-solutions img {
    max-width: 350px;
    max-height: 270px;
  }

  .text-solutions h1 {
    font-size: 3rem;
  }

  .text-solutions p {
    font-size: 2rem;
    max-width: 500px;
  }

  .cards-solutions .card {
    max-width: 200px;
    height: 200px;
    gap: 34px;
    width: 100%;
  }

  .cards-solutions .card h3 {
    font-size: 1.7rem;
  }

  .escritorios-frame {
    gap: 138px;
  }

  .escritorios-frame img {
    max-width: 200px;
  }

  .escritorio-equipe {
    margin-top:  -458px;
  }

  .exp .text h1 {
    font-size: 5.5rem;
  }

  .escritorios-hero .vectors img {
    max-width: 600px;
  }

  .escritorios-frame h2 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .team {
    padding-bottom: 10rem;
  }

  .team .equipe img {
    max-width: 800px;
    margin-top: -118px;
  }


  footer {
    height: 71rem;
  }

  .imagem-exp {
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team .content img {
    max-width: 85%;
  }
  
  .jobs {
    margin-top: 33rem;
  }
}

@media (min-width:800px) {

  .team .content img {
    max-width: 75%;
}

  footer {
    height: 45rem;
  }

  .footer-list {
    margin: 55px -21px;
  }

  .footer-newsletter {
    position: initial;
    margin-top: 0;
  }
}

@media (min-width:1000px) { 
  .container {
    max-width: 100rem;
  }

  .menu-maior {
    display: flex;
  }
  


  .close-menu,
  .open-menu {
    display: none;
  }

  .hero .container {
    flex-direction: row;
    gap: 100px;
  }

  .img-hero img {
    max-width: 550px;
  }

  .hero .hero-text {
    margin-top: 10rem;
    max-width: 365px;
    margin-left: 52px;
    text-align: left;
  }

  .hero-text h2 {
    font-weight: 700;
    text-align: left;
  }

  .hero-text p {
    text-align: left;
  }

  main {
    margin-top: 20rem;
  }

  .about h1 {
    font-size: 5rem;
    margin-top: -76px;
    margin-right: 44px;
  }

  .about-text {
    padding: 3rem;
  }

  .about-text p {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-top: 20px;
  }

  .plataforma h2 {
    max-width: 500px;
    padding-top: 9rem;
    font-size: 5.5rem;
  }

  .cards-solutions {
    margin-top: 11rem;
  }

  .escritorios-frame {
    margin-top: 9rem;
  }

  /*  */

  .escritorios-hero .vectors img {
    max-width: 791px;
    margin-left: -297px;
    margin-top: 28px;   
  }

  .vectors {
    display: flex;
    flex-direction: column;
    
  }

  .escritorios-hero .vectors img:nth-child(2) {
    max-width: 600;
    height: 400px;
    position: absolute;
    margin-left: 60rem;
    margin-top: 25rem;
}

  .png-escritorio {
    max-width: 100%;
    height: 41rem;
    margin-top: 12rem;   
  }

  .exp .text {
    margin-top: 15rem;
 }

 .escritorio-equipe {
  display: flex;
 }

 .escritorio-equipe .list {
  margin-top: 27rem;
  margin-left: -4.05rem;
  }

  .escritorios-hero {
    padding-top: 0;
    margin-top: -102px;
  }

  .exp {
    margin-top: 5rem;
  }

  .exp .container {
    display: flex;
    gap: 50px;
  }

  .exp .imagem-exp img {
    margin-top: 15rem;
  }

  .exp .text h1 {
    font-size: 5rem;
    max-width: 400px;
}

  .team .equipe img {
    margin-top: -578px;
    max-width: 1200px;
    height: 58rem;
    transition: all 0.8s ease-out;
  }

  .team .content img {
    
    opacity: 1;
  }

  .team .equipe img:hover {
    opacity: 1;
    filter: brightness(1.1);
  }

 .jobs {
    margin-top: 2rem;
  }

  footer {
    height: 47rem;
  }
}
